.quiz_timeline {
    font-size: 12px;
    line-height: 20px;
    padding: 5px;
    white-space: nowrap;
    border: 2px solid #eee;
    border-radius: 20px;
}
.quiz_timeline__number_current {
    display: inline-block;
    border-radius: 10px;
    background: #f8ab47;
    color: #fff;
}

.num_for_timeline {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    line-height: inherit;
    text-align: center;
    color: #f8ab47;
}

.num_for_timeline_ {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 8px;
    line-height: inherit;
    text-align: center;
}