.totalResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.number, .percent{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.number{
    padding-bottom: 10px;
}
.percent {
    margin-bottom: 100px;
    font-size: 60px;
}
.more{
    display: flex;
    justify-content: center;
}