.userAccountHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F5F5F5;
    position: fixed;
    width: 100%;
}

.userFullName {
    padding-right: 5px;
}

.userLogo {
    padding: 7px 10px 6px 10px;
    background-color: coral;
    color: white !important;
    border-radius: 50%;
}