* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  display: flex;
}

.blocks {
  display: flex;
  flex-direction: column;
}

.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 240px;
}

.block2:hover {
  background-color:  white;
}

.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:blue;
  flex-grow: 1
}

.block1:hover {
  background-color: white;
}

.block3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:blue;
  flex-grow: 1;
}

.block3:hover {
  background-color: white;
}

.block4 {
  background-color: green;
  align-items: center;
  justify-content: center;
  flex-grow: 3;
  flex-basis: 0%;
}

.block4:hover {
  background-color: white;
}

.span {
  font-size: 18px;
  font-size: bold;
}

h1 {
  text-align: center;
}